.altoolkitTime{
	position: absolute;
	right: 12px;
	top: 6px;
	font-size: 1.1rem;
}
.altoolkitUnread{
	border-right: 8px;
	border-color: rgba(var(--color-blue));
	border-right-style: solid;
}
.altoolkitNotification{
	margin-bottom: 10px;
	background: rgb(var(--color-foreground));
	border-radius: 4px;
	justify-content: space-between;
	line-height: 0;
	min-height: 72px;
	position: relative;
}
.altoolkitNotification *{
	line-height: 1.15;
}
.altoolkitUserImageSmall{
	display: inline-block;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	z-index: 10;
}
.altoolkitUserImage{
	height: 72px;
	width: 72px;
	display: inline-block;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
}
.altoolkitMediaImage{
	height: 70px;
}
.altoolkitMessageText{
	position: absolute;
	margin-top: 30px;
	margin-left: 80px;
}
.altoolkitMediaImageContainer{
	vertical-align: bottom;
	margin-left: 400px;
	display: inline;
	position: relative;
	display: inline-block;
	min-height: 70px;
	width: calc(100% - 500px);
	text-align: right;
	padding-bottom: 1px;
}
.altoolkitMediaImageContainer > a{
	height: 70px;
	line-height: 0!important;
	display: inline-block;
	z-index: 11;
	width: 50px;
	margin-right: 5px;
	background: rgb(var(--color-background),0.8);
	margin-top: 1px;
	margin-bottom: 1px;
}
span.altoolkitMediaImageContainer{
	line-height: 0!important;
}
.altoolkitBackgroundCover{
	height: 70px;
	width: 50px;
	display: inline-block;
	background-repeat: no-repeat;
	object-fit: cover;
	object-position: center;
	background-position: 50%;
	background-size: cover;
	line-height: 0;
}
.altoolkitCommentsContainer{
	margin-top: 5px;
}
.altoolkitCommentsArea{
	margin: 10px;
	display: none;
	padding-bottom: 2px;
	margin-top: 5px;
	width: 95%;
}
.altoolkitCommentsContainer > a.link{
	font-size: 1.3rem;
}
.altoolkitComments{
	float: right;
	display: none;
	margin-top: -21px;
	margin-right: 10px;
	cursor: pointer;
	margin-left: 600px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.altoolkitCombined .altoolkitComments{
	display: none!important;
}
.altoolkitQuickCom{
	padding: 5px;
	background-color: rgb(var(--color-background));
	margin-bottom: 5px;
	position: relative;
}
.altoolkitQuickComName{
	margin-right: 15px;
	color: rgb(var(--color-blue));
}
.altoolkitThisIsMe{
	color: rgb(var(--color-green));
}
.altoolkitILikeThis{
	color: rgb(var(--color-red));
}
.altoolkitQuickComName::after{
	content: ":";
}
.altoolkitQuickComContent{
	margin-right: 40px;
	display: block;
}
.altoolkitQuickComContent > p{
	margin: 1px;
}
.altoolkitQuickComLikes{
	position: absolute;
	right: 5px;
	bottom: 5px;
	display: inline-block;
}
.altoolkitQuickComContent img {
	max-width: 100%;
}
.altoolkitSpoiler::before{
	color: rgb(var(--color-blue));
	cursor: pointer;
	background: rgb(var(--color-background));
	border-radius: 3px;
	content: "Spoiler, click to view";
	font-size: 1.3rem;
	padding: 0 5px;
}
.altoolkitSpoiler.altoolkitClicked::before{
	display: none;
}
.altoolkitSpoiler > span{
	display: none;
}
.altoolkitMessageText > span > div.time{
	display: none;
}
.altoolkitUnhandledSpecial > div{
	margin-top: -15px;
}
.altoolkitMessageText a.link,
.altoolkitNewMedia a{
	color: rgb(var(--color-blue));
}
.altoolkitNewMedia a[href^="/manga/"]{
	color: rgb(var(--color-green));
}
.altoolkitDataChange a{
	color: rgb(var(--color-blue));
}
.altoolkitDataChange .expand-reason{
	display: none;
}
