.termsFeed{
	--color-blue: 61,180,242;
	--color-green: 123,213,85;
	--color-red: 232,93,117;
	--color-foreground: 39,44,56;
}
.altoolkitFeed{
	margin-top: 10px;
	margin-bottom: 20px;
}
.altoolkitFeed video{
	max-width: 100%;
}
.altoolkitFeed .activity,
.altoolkitFeed .activity .reply{
	min-height: 25px;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 0px;
}
.altoolkitFeed .activity .replies{
	margin-left: 60px;
	margin-top: 5px;
}
.altoolkitFeed .activity:last-child{
	border-bottom-width: 1px;
}
.altoolkitFeed a{
	text-decoration: none;
	color: rgb(var(--color-blue));
}
.altoolkitFeed .altoolkitButton{
	font-size: 1rem;
	color: initial;
	margin: 5px;
	filter: drop-shadow(1px 1px 2px black);
}
.altoolkitFeed img{
	max-width: 500px;
}
.altoolkitFeed .markdown_spoiler{
	background: rgb(31, 35, 45);
	color: rgb(31, 35, 45);
}
.altoolkitFeed .markdown_spoiler:hover{
	color: rgb(159,173,189);
}
.altoolkitFeed .markdown_spoiler img{
	filter: blur(10px) hue-rotate(60deg) brightness(0.7);
}
.altoolkitFeed .markdown_spoiler:hover img{
	filter: none;
}
.altoolkitFeed .markdown_spoiler::after{
	content: "Spoiler";
	color: rgb(159,173,189);
	margin-left: 2px;
}

.altoolkitFeed .activity:hover::before{
	content: ">";
	position: absolute;
	left: -20px;
	top: 0px;
}
.altoolkitLikeQuickView{
	position: absolute;
	bottom: 0px;
	left: 45px;
	font-size: 70%;
	white-space: nowrap;
	overflow: hidden;
	max-width: 270px;
}
.altoolkitFeed .altoolkitLikes:hover{
	color: rgb(var(--color-red));
	filter: saturate(50%);
}
.altoolkitFeed .altoolkitLikes:hover .altoolkitLikeQuickView{
	filter: saturate(200%);
}
.altoolkitFeed .altoolkitLikes:hover .altoolkitLikeQuickView{
	color:rgb(159,173,189);
}
.altoolkitFeed .activity:hover > .time{
	color: rgb(var(--color-blue));
}
.altoolkitFeed .activity > .time{
	overflow: hidden;
	white-space: nowrap;
}

.altoolkitSearchResult{
	width: 18.5%;
	display: inline-block;
	text-align: center;
	padding: 3px;
	height: 2.2em;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	cursor: pointer;
	background-color: inherit;
	margin: 1px;
	position: relative
}
.altoolkitSearchResult.anime{
	color: rgb(var(--color-blue));
}
.altoolkitSearchResult.manga{
	color: rgb(var(--color-green));
}
.altoolkitSearchResult.anime:hover{
	background-color: rgb(var(--color-blue),0.3);
}
.altoolkitSearchResult.manga:hover{
	background-color: rgb(var(--color-green),0.3);
}
.altoolkitSearchResult.anime.selected{
	background-color: rgb(var(--color-blue),0.3);
	cursor: initial;
}
.altoolkitSearchResult.manga.selected{
	background-color: rgb(var(--color-green),0.3);
	cursor: initial;
}
.termsFeedEdit{
	cursor: pointer;
	font-size: small;
	position: absolute;
	right: 2px;
	top: 1px;
}
.termsFeedEdit:hover{
	color: rgb(var(--color-text));
}
.thisIsMe,
a.thisIsMe{
	color: rgb(var(--color-red));
}
